.post-content {
  @extend .col-6;
  @extend .col-lg-8;
  @extend .col-md-12;
  margin: 0 auto;
  font-size: 20px;

  h1, h2, h3, h4 {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  h1 { font-size: 48px; }
  h2 { font-size: 36px; }
  h3 { font-size: 32px; }
  h4 { font-size: 28px; }

  img {
    display: flex;
    margin: 0 auto;

    padding: 10px 0;
  }

  small {
    color: lighten(#000, 46.7%);
  }
}
